# Database (local)
DATABASE_URL="postgresql://oficina_user:oficina_pass@postgres:5432/oficina_db"

# Postgresql
POSTGRES_USER="oficina_user"
POSTGRES_PASSWORD="oficina_pass"
POSTGRES_DB="oficina_db"

# JWT
JWT_SECRET="change-me-with-at-least-32-characters"
JWT_EXPIRES_IN="1d"

# Admin Rules
ADMIN_USERNAME="admin"
ADMIN_PASSWORD_HASH="bcrypt-hash-here"

# NODEMAIL SETTINGS
MAIL_HOST="smtp.gmail.com"
MAIL_PORT="587"
MAIL_USER="seu@email.com"
MAIL_PASS="app-password"
MAIL_FROM="oficina@sistema.com"
WEBHOOK_SECRET="change-me-with-at-least-32-characters"
WEBHOOK_TOKEN_EXPIRES_IN="24h"
APP_URL="http://localhost:3000"

# Segurança SYNK
SYNK_TOKEN="token-pessoal-synk.io"
